
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto, regular", sans-serif;
}

body {
  background-color: #fef6e4;
  margin: 0;
  display: flex;
  color: #172c66;
  font-size: 16px;
}

hr{
  border: 3px solid #001858;
  border-radius: 3px;
}


.card {
  padding: 2em;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

p{
  color: #172c66;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
